<template>
  <main class="courses">
    <section class="courses__header">
      <div class="courses__header-top">
        <button type="button">
          <i></i>
          Новый курс
        </button>
        <SearchCourses />
      </div>
      <div class="courses__header-bottom">2bottom</div>
    </section>
    <section class="courses__contant">
      <div class="courses__list">
        <div class="courses__item">1item</div>
        <div class="courses__item">2item</div>
        <div class="courses__item">3item</div>
      </div>
    </section>
    <section class="courses__footer">3footer</section>
  </main>
</template>

<script>
import SearchCourses from "@/components/courses/SearchCourses";
export default {
  components: {
    SearchCourses,
  },
};
</script>

<style lang="scss">
.courses {
  margin-top: 20px;
  &__header {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}
</style>
