<template>
  <header class="header">
    <div class="header__inner">
      <router-link class="logo" to="/courses">
        <svg
          width="33"
          height="33"
          viewBox="0 0 133 133"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="133" height="132" rx="66" fill="#1DABF3" />
          <path
            d="M60.24 133L60.672 95.704L32.304 32.92H45.408L66 83.032H66.864L87.312 32.92H100.416L72.048 95.704L72.48 133H60.24Z"
            fill="white"
          />
        </svg>
        <span>Course</span>
      </router-link>
      <div class="user">
        <a class="user__name" @click="openMenu = !openMenu" href="#"
          >Джабраил
          <i
            class="user__icon-down"
            :class="{ 'user__icon-top': openMenu }"
          ></i>
        </a>

        <div class="menu" v-if="openMenu">
          <div class="menu__list">
            <router-link class="menu__item" to="/">Мой аккаунт</router-link>
            <router-link class="menu__item" to="/">Выход</router-link>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "TheHeader",
  data() {
    return {
      openMenu: false,
    };
  },
};
</script>

<style lang="scss">
.header {
  border-bottom: 1px solid #ebebeb;
  &__inner {
    max-width: 1100px;
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  svg {
    margin-right: 10px;
  }

  span {
    font-size: 22px;
    color: #1dabf3;
  }
}
.user {
  position: relative;
  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: #848d94;
    letter-spacing: 0;
    text-decoration: none;
    display: flex;
    align-items: center;

    i {
      margin-left: 6px;
    }
  }
  &__icon {
    &-down {
      display: block;
      background-image: url("../assets/img/arrow-down-sign-to-navigate.svg");
      width: 12px;
      height: 12px;
    }
    &-top {
      transform: rotate(180deg);
    }
  }
}
.menu {
  min-width: 119px;
  width: 231px;
  position: absolute;
  top: 25px;
  background-color: #fff;
  z-index: 10006;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 1, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  &__list {
    display: flex;
    flex-direction: column;
    padding: 6px;
  }
  &__item {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #838d95;

    &:hover {
      color: #45ace1;
    }
  }
}
</style>
