<template>
  <component :is="layout">
    <router-view />
  </component>
</template>
<script>
import AuthLayout from "@/layouts/AuthLayout";
import CourseLayout from "@/layouts/CourseLayout";
import HomeLayout from "@/layouts/HomeLayout";
export default {
  components: {
    AuthLayout,
    CourseLayout,
    HomeLayout,
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || "home") + "-layout";
    },
  },
};
</script>
<style lang="scss"></style>
