<template>
  <div>
    <the-header />
    <div class="container">
      <router-view />
    </div>
    <the-footer />
  </div>
</template>

<script>
import TheFooter from "@/components/TheFooter.vue";
import TheHeader from "@/components/TheHeader.vue";
export default {
  components: { TheHeader, TheFooter },
};
</script>

<style lang="scss">
.container {
  max-width: 1100px;
  padding: 10px 20px;
  margin: 0 auto;
}
</style>
